 <html>
 <head>
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/stylesheet1.css') }}">
 </head>
 <body>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> Sign In To Vote </h2>
   

    <!-- Icon -->
    <div class="fadeIn first">
     <img src="https://img.icons8.com/ios-filled/50/000000/login-rounded-right.png" type = "icon"/>
    </div>

    <!-- Login Form -->
    <form action="" method="post"> 
      <input type="text" class="fadeIn second" name="user_id" placeholder="Enter your VoterID" value="{{ request.form.username }}">
      <input type="password" class="fadeIn third" name="user_password" placeholder="Enter your password" value="{{ request.form.password }}">
      <input type="submit" class="fadeIn fourth" value="Login">
    </form>

    {% if error %}
        <p class="error">{{ error }}
    {% endif %}

    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>
  </div>
</div>
</body>
</html>
